<div class="container">

    <h2>List Of To Do</h2>
    <table class="table table-hover table-dark">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.id}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.status}}</td>
                <td>{{todo.targetDate | date}}</td>
            </tr>
        </tbody>
    </table>
</div>